<div *ngFor="let project of profile.projects">

	
	<div class="panel panel-primary">
		<div class="panel-heading">
			<table class='table table-condensed'>
				<tr> <td> Client/Company </td> <td>{{project.client}} / {{project.company}}</td> </tr>
				<tr> <td> Project </td> <td>{{project.name}} </td> </tr>
				<tr> <td> Project Duration </td> <td> {{project.startDate}}    -  {{project.endDate}}    </td> </tr>
				<tr> <td> Assigned Role </td> <td> {{project.role}}     </td> </tr>
			</table>
		</div>
		<div class="panel-body">
			<TABLE class='table table-condensed'>
	
		
				<tbody>
				<TR>
					<TD style='font-size: 10pt;' align='left' colspan='3'>
						<B>Project Description</B>
					</TD>
				</TR>
				<TR>
					<TD style='font-size: 10pt;' colspan='3'>
						 {{project.description}}     
					</TD>
				</TR>
				
				<TR>
					<TD style='font-size: 10pt;' align='left' colspan='3'>
						<B>Responsibilities</B>
					</TD>
				</TR>
				<TR>
					<TD style='font-size: 10pt;' colspan='3'>
						 {{project.responsibilities}}     
					</TD>
				</TR>
				
				<TR>
					<TD style='font-size: 10pt;' align='left' colspan='3'>
						<B>Major Achievements</B>
					</TD>
				</TR>
				<TR>
					<TD style='font-size: 10pt;' colspan='3'>
						 {{project.achievements}}     
					</TD>
				</TR>
				</tbody>
				
			</TABLE>
		</div>
</div>



 <BR>
	
</div>