<h3>Profile Summary</h3>
				
					<ul>
						<li>
							Associate Manager at Accenture IDC – Solutions Workforce since Sep 2011
						</li>
						<li>
							Total Experience: 10 Years, 5 Months
						</li>
						<li>
							Technical skills: Scala, Spring, AngularJS2, Hibernate, NodeJS
						</li>
						<li>
							Development Tools: InteliJ ,Eclipse, Spring Source Tool Suite, NPM, Atom
						</li>
						<li>
							Web & Application Server: Tomcat, Weblogic and Websphere
						</li>
						<li>
							Other Tools: TOAD, SQL Developer, JIRA, Git, SVN, WinSCP
						</li>
						<li>
							Sun Certified Web Component Developer 1.5 with 85%
						</li>
						<li>
							Sun Certified Java Programmer certification 1.4 with 93 %
						</li>
						
						
					
					</ul>